# 빌드 결과물
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll

# 사용자/IDE 환경 설정
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
.idea/

# 패키지/의존성
.nuget/
packages/
*.nupkg
*.snupkg

# OS/개인 폴더
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
AppData/
OneDrive/
Contacts/
Favorites/
Links/
Saved Games/
Searches/
IntelGraphicsProfiles/
WareValley/
max_condition.ini

# 기타 임시/백업/로그 파일
*.log
*.tmp
*.bak
*.cache
*.dbmdl
*.opendb
*.pdb
*.psess
*.vsp
*.vsps
*.vssscc
*.vsix
*.vsixmanifest

# 시스템 파일
NTUSER.*

appsettings.json

.vs/